@model Theme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <input type="submit" asp-action="Create"/>
</form>