@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Theme

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
        <label asp-for="Content"></label>
        <textarea class="lak" cols="60" type="text" asp-for="Content" ></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <input type="submit" asp-action="Create"/>
</form>
