@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model ThemeView

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "title";
}

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
        <label asp-for="Content"></label>
        <textarea class="lak" cols="60" type="text" asp-for="Content" ></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <input type="submit" asp-action="Create"/>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}