@{
    Layout = null;
}

<h3 style="background: red">Error 66666666666666666
    6666666666666666666666666666666666666666666666666666
    66666666666666666666666666666666666666666666666666
    666666666666666666666666666666666666666666666666666666666666666
    66666666666666666666666666666666666666666666666666666666666666666666
    666666666666666666666666666666666666666666
    6666666666666666666666666666666666666666666666666666666666666666666
    6666666666666666666666</h3>

<body style="background: black">
    <img src="~/Robot error.png"/>
</body>

